<mat-card>
    <mat-card-content fxLayout="row wrap" fxLayout.xs="column" *ngIf="album">
        <div>
            <h1 _ngcontent-txx-c55="">{{album.name}}</h1>
            <p _ngcontent-txx-c55="">Full track listing {{album.name}}
            <br _ngcontent-txx-c55="">Click the &nbsp;
            <mat-icon _ngcontent-txx-c55="" role="img" mat-list-icon="" class="mat-icon notranslate mat-list-icon material-icons mat-icon-no-color" aria-hidden="true" data-mat-icon-type="font">queue_music</mat-icon>
            &nbsp; icon to <strong _ngcontent-txx-c55="">add</strong> a song from your favourites list </p>
        </div>
    </mat-card-content>
    <mat-card-content fxLayout="row wrap" fxLayout.xs="column" *ngIf="album"> 
        <div fxflex><img src="{{album.images[0].url}}" alt="album cover" [style.margin]="'10px'" [style.max-width]="'90%'" /></div>
        <div fxFlex >
            <div [style.min-width]="'300px'" [style.margin]="'10px'">
                <strong>Record Label: </strong>{{album.label}}<br />
                <strong>Release Date: </strong>{{album.release_date}}<br /><br />
                <strong>Tracks:</strong>{{album.total_tracks}}<br />
                <strong>Popularity: </strong>{{album.popularity}}<br /><br />

                <mat-chip-list aria-label="Artist selection" *ngFor="let at of album.artists">
                    <a [routerLink]="['/artist', at.id]">  <mat-chip>{{at.name}}</mat-chip></a>
                </mat-chip-list>
                <br />
                
                <div  *ngFor="let cr of album.copyrights">
                    {{cr.text}}
                </div>
            </div>
        </div>
    </mat-card-content>
</mat-card>
<br /><br />
<h2>Track Listing</h2>
<mat-list *ngIf="album">
    <!-- Single "Responsive" Material List Item-->
    <mat-list-item *ngFor="let song of album.tracks.items">
        <mat-icon mat-list-icon (click)="addToFavourites(song.id)">queue_music</mat-icon>
        <div mat-line>
            <mat-card>
                <div *ngIf="song.preview_url" ><br /><audio controls [src]="song.preview_url"></audio></div>
                <mat-card-content>{{song.track_number}} : {{song.name}} - {{(song.duration_ms/60000).toFixed(2)}} <!-- NOTE 3.34 was determined by using (duration_ms / 60000).toFixed(2) -->
                </mat-card-content>
            </mat-card>
        </div>
    </mat-list-item>
    <!-- -->
</mat-list>